.imagegrid img{
	width: 100%;
	height: auto;
    min-height: 200px;
	position: relative;
}

.imagegrid .fauxCrop:hover{
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.imagegrid li .imgHolder {
	overflow: visible; 
}

.fauxCrop{
	height:200px;
	overflow:hidden;
	border: 10px solid white;
	webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:  0px 0px 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.imagegrid li {
	padding: 20px;
	list-style-type: none;
}

#theImageGrid{
	margin-top: 15px;
}